image: bitwalker/alpine-elixir:1.7.4
pipelines:
  default:
   - step:
      name: Build and test
      caches:
        - deps
        - build
        - node
      script:
        - apk add build-base chromium-chromedriver xvfb python2 nodejs npm curl
        - chromedriver --port=4444 --url-base=wd/hub &
        - curl localhost:4444/wd/hub/status
        - mix local.hex --force && mix local.rebar --force
        - MIX_ENV=test mix do deps.get --only test, deps.compile, compile --warnings-as-errors
        - npm install && node_modules/.bin/webpack --mode production
        - export DISPLAY=:99 && Xvfb :99 -screen 0 1280x1024x24 &
        - |
          set +e
          mix test --trace
          echo $?
        - mix test --failed --trace
      services: 
        - postgres

definitions: 
  caches:
    deps: deps
    build: _build
  services: 
    postgres: 
      image: postgres:9.6
