image: bitwalker/alpine-elixir:1.7.4
pipelines:
  default:
   - step:
      name: Build and test
      caches:
        - deps
        - build
        - node
      script:
        - apk update && apk upgrade
        - echo @latest-stable http://nl.alpinelinux.org/alpine/latest-stable/community >> /etc/apk/repositories
        - echo @latest-stable http://nl.alpinelinux.org/alpine/latest-stable/main >> /etc/apk/repositories
        - apk add --no-cache chromium@latest-stable chromium-chromedriver@latest-stable harfbuzz@latest-stable nss@latest-stable
        - apk add build-base python2 nodejs npm curl
        - sleep 3 && curl localhost:4444/wd/hub/status
        - mix local.hex --force && mix local.rebar --force
        - MIX_ENV=test mix do deps.get --only test, deps.compile, compile --warnings-as-errors
        - npm install && node_modules/.bin/webpack --mode production
        - |
          set +e
          mix test --trace
          echo $?
        - mix test --failed --trace
      services: 
        - postgres

definitions: 
  caches:
    deps: deps
    build: _build
  services: 
    postgres: 
      image: postgres:9.6
