image: bitwalker/alpine-elixir:1.7.4
pipelines:
  default:
   - step:
      name: Build and test
      caches:
        - deps
        - build
      script:
        - apk add build-base
        - mix local.hex --force && mix local.rebar --force
        - MIX_ENV=test mix do deps.get --only test, deps.compile, compile --warnings-as-errors
      services: 
        - postgres

definitions: 
  caches:
    deps: deps
    build: _build
  services: 
    postgres: 
      image: postgres:9.6
