image: bitwalker/alpine-elixir-phoenix:1.7.3
pipelines:
  default:
   - step:
      name: Build and test
      script:
        - apk add chromium chromium-chromedriver
        - apk add nodejs-current
        - apk add python2
        - chromedriver --port=4444 --url-base=wd/hub &
        - mix local.hex --force && mix local.rebar --force
        - MIX_ENV=test mix do deps.get --only test, deps.compile, compile --warnings-as-errors
        - npm install && node_modules/.bin/webpack --mode production
        - mix test
      services: 
        - postgres

definitions: 
  caches:
    deps: deps
    build: _build
  services: 
    postgres: 
      image: postgres:9.6
