image: circleci/elixir:1.7.4-node-browsers
pipelines:
  default:
   - step:
      name: Build and test
      caches:
        - deps
        - build
        - node
      script:
        - apk add chromium chromium-chromedriver
        - chromedriver --port=4444 --url-base=wd/hub &
        - mix local.hex --force && mix local.rebar --force
        - MIX_ENV=test mix do deps.get --only test, deps.compile, compile --warnings-as-errors
        - npm install && node_modules/.bin/webpack --mode production
        - mix test
      services: 
        - postgres

definitions: 
  caches:
    deps: deps
    build: _build
  services: 
    postgres: 
      image: postgres:9.6
