name: Elixir CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:11
        ports: ['5432:5432']
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-elixir@v1.0.0
      with:
        otp-version: 22.x
        elixir-version: 1.9.x
    - uses: nanasess/setup-chromedriver@master
      with:
        chromedriver-version: '78.0.3904.105'
    
    - name: Start chromedriver
      run: |
        export DISPLAY=:99
        chromedriver --verbose --port=4444 --url-base=wd/hub > chromedriver.log 2>&1 &
        sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional
    
    - name: Install deps
      run: |
        MIX_ENV=test mix do deps.get --only test, deps.compile
        npm install && node_modules/.bin/webpack --mode production

    - name: Check chromedriver
      run: curl -XPOST http://localhost:4444/wd/hub/session -d '{"desiredCapabilities":{"browserName":"chrome"}}'
    
    - name: Run Tests
      run: |
        set +e
        mix test --trace
        exit 0
    
    - name: Rerun failed tests
      run: mix test --failed --trace

    - uses: actions/upload-artifact@v1
      with:
        name: chromedriver
        path: chromedriver.log
